@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-wrap {
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: limegreen;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    z-index: 1031;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px green, 0 0 5px green;
    opacity: 1.0;
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 2px transparent;
    border-top-color: green; /* 원하는 색상으로 변경 가능 */
    border-left-color: green; /* 원하는 색상으로 변경 가능 */
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* dimmed */
.modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* modal or popup */
.modal-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
